# Gradle & Build
.gradle/
build/
out/
*.apk
*.aar
*.ap_
*.aab

# Android Studio (IDE)  
.idea/
*.iml
*.iws
*.ipr
.navigation/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetDropDown.xml

# Local configuration (env variables, keys)  
local.properties
secrets.*
*.keystore
*.jks

# System & OS  
.DS_Store
Thumbs.db

# Logs & Temp Files  
*.log
*.tmp
*.swp

# NDK & External Builds  
.externalNativeBuild/
.cxx/